<nav class="navbar navbar-expand">
  <a class="navbar-brand" href="#">Desafio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a  class="nav-link" [routerLink]="['/gastosTotais']">Fatura Cartão <span class="sr-only">(atual)</span></a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" [routerLink]="['/gastos']">Gerenciamento de Contas<span class="sr-only">(atual)</span></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

