<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de Gastos</h5>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Origem</th>
          <th scope="col">Categoria</th>
          <th scope="col">Valor Gasto</th>
          <th scope="col">Mês</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let lancamento of lancamentos | orderBy: 'mes_lancamento';">
          <td>{{lancamento.origem}}</td>
          <td>{{ changeCategory(lancamento.categoria)}}</td>
          <td>{{lancamento.valor | currency:"BRL":"symbol"}}</td>
          <td>{{lancamento.mes_lancamento | monthFormat }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

